@media screen and (max-width: 320px) {
    .menu {
        display: none;
    }

    .left-sidebar {
        max-width: 201px;
        top: 15px;
        transform: translateY(0);
    }
}

@media screen and (min-width: 321px) and (max-width: 425px) {
    .menu {
        display: none;
    }

    .left-sidebar {
        position: relative;
        transform: translateY(0);
        top: 15px;
        left: 32px;
    }

    .super-section > :first-child {
        margin-left: 32px;
    }

    .hello h4 {
        font-size: 17px;
    }

    .hello h1 {
        font-size: 75px;
    }

    .hello h3 {
        font-size: 18px;
    }

    .count-section > :first-child {
        margin: 0;
        margin-right: 90px;
        margin-top: 80px;
    }

    .count-section > h1 {
        margin: 0;
    }

    .count-section > section > h4 {
        margin: 0;
    }

    .count-section > section > :nth-child(2) {
        margin-left: 115px;
    }

    .main .go-to-project-btn {
        margin-left: 0;
        margin-top: 148px;
    }

    .main-title > h2 {
        font-size: 30px;
    }

    .main-title > h1 {
        font-size: 36px;
    }

    .about > :last-child {
        width: 375px;
    }

    .item > h1 {
        font-size: 22px;
    }

    .skill-line > :nth-child(2) {
        margin: 0;
    }

    .skill-line > :last-child {
        margin: 0;
    }

    .tools {
        margin-right: 47px;
    }

    .project-img > video {
        width: 360px;
        height: 219px;
    }

    .project-img > h4 {
        font-size: 12px;
    }

    .git-logo > i {
        left: 160px;
        margin-top: 0;
    }

    .git-logo > h4 {
        left: 142px;
    }

    .work {
        width: 170px;
        height: 110px;
        margin-right: 17px;
    }

    .main-img-section {
        width: 360px;
        height: 219px;
    }

    .services-list > div {
        width: 360px;
    }

    .main-title > h4 {
        position: relative;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        color: #fff;
        bottom: 80px;
    }

    .input-group:nth-child(2) {
        margin-left: 0;
        position: absolute;
        right: 10px;
    }

    .input-group:nth-child(4) {
        width: 360px;
    }

    .certificate-img > img {
        width: 360px;
        height: 245px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .menu {
        display: none;
    }

    .left-sidebar {
        max-width: 635px;
        left: 15px;
        top: 15px;
        transform: translateY(0);
        padding: 50px;
        /* z-index: 10; */
        position: relative;
    }

    .social-profile > ul > li {
        margin-left: 5px;
    }

    .super-section > :first-child {
        margin-left: 30px;
    }

    .main .go-to-project-btn {
        margin-left: 500px;
    }

    .certificate-img > img {
        position: relative;
        left: 52px;
    }

    .tools {
        margin-right: 34px;
    }

    .project-img > video {
        width: 675px;
        height: 411px;
        position: relative;
        left: 16px;
    }

    .project-img > h4 {
        margin-top: 7px;
        margin-left: 15px;
    }

    .work {
        width: 218px;
        margin-right: 22px;
    }

    .main-img-section {
        width: 710px;
    }

    .services-list > div {
        width: 670px;
        left: 18px;
    }

    .input-group:nth-child(4) {
        width: 560px;
    }
}


@media all and (min-width: 769px) and (max-width: 1024px) {
    .menu {
        display: none;
    }

    .left-sidebar {
        max-width: 750px;
        position: relative;
        left: 86px;
        top: 15px;
        transform: translateY(0);
        padding: 50px;
    }

    .super-section > :first-child {
        margin-left: 100px;
    }

    .main .go-to-project-btn {
        margin-left: 630px;
    }
}

